CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_opc-h29k=y

# LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl-openssl=y

# TTYD
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y

# USB
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y

# USB serial
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y

# USB network / RNDIS
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y

# Network utilities
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_chat=y

# QModem
CONFIG_PACKAGE_luci-app-qmodem=y
